<h1>This is ENTR 451!</h1>

<h2>Mandalorians love Tacos</h2>

<p>Grogu loves Tacos</p>

<% tacos = ["Carnitas", "Avocados"] %>

<p>
There are so many tacos : <%=tacos.length%>
</p>


<ul>
  <li>Carnitas</li>
  <li>Avocados</li>
</ul>